---
import MisionVisionCard from "./MisionVisionCard.astro";


---

<div class="flex flex-col gap-5   "id="mision-vision">
  <p class="text-xl underline text-yellow-primary ">Mision y vision</p>
  <div class="flex items-center justify-center gap-5 w-[90%] mx-auto ">
  <MisionVisionCard title="Misión" description="Somos una cooperativa especializada en servicios financieros y solidarios que genera confianza y bienestar al asociado y su familia mediante una atención cálida eficaz y oportunidad" image="/mision.png" icon="/mision-icon.png" />
  <MisionVisionCard title="Visión" description="Cooperativa innovadora reconocida por la generación de confianza, transparencia y solidaridad articulada con el desarrollo sostenible en las comunidades donde hace presencia" image="/vision.png" icon="/vision-icon.png" />

  </div>

</div>