---
import ValoresCard from "./ValoresCard.astro";

const valores = [
  {
    title: "Sentido de pertenencia",
    icon: "/pertenencia.png",
    description: "Nos sentimos satisfechos por ser parte de la Cooperativa, generando fidelidad y compromiso con su crecimiento y desarrollo",
  },
  {
    title: "Transparencia",
    icon: "/transparencia.png",
    description: "Brindamos un manejo integral claro, concreto y correcto en el funcionamiento de la Cooperativa, posibilitando favorablemente nuestra actuación al rendimiento de cuentas a cualquier usuario",
  },
  {
    title: "Innovación",
    icon: "/innovacion.png",
    description: "Buscamos permanentemente construir un nuevo camino que nos genere valor y permita ser mas competitivos.",
  },
  {
    title: "Respeto",
    icon: "/respeto.png",
    description: "Reconocemos, apreciamos y valoramos las cualidades de las personas, entendiendo y aceptando las diferencias",
  },
]

---

<div class="flex flex-col  gap-5">
  <p class="text-xl underline text-yellow-primary ">Valores</p>
  <div class="flex w-[90%] mx-auto gap-20">
  <img src="/valores.png" alt="valores" class="w-[40%] rounded-sm h-[500px] object-cover ">
  <div class="grid-cols-2 w-[50%] grid gap-10 " >
    {valores.map((valor) => (
      <ValoresCard title={valor.title} icon={valor.icon} description={valor.description} />
    ))}
  </div>
  </div>
</div>