---
import '../../styles/global.css';
import MisionVision from './MisionVision/MisionVision.astro';
import Valores from './MisionVision/Valores.astro';
---

<section id="quienes-somos" class="flex flex-col gap-5 w-[90%] mx-auto  ">
  
  <section class="my-[100px]" >
   <div class="flex relative items-center justify-between flex-row gap-5">
    <div class="lg:w-[60%] w-[100%] p-10 z-30 flex flex-col items-center justify-center">
      <div class="flex lg:items-start lg:justify-start items-center justify-center flex-col gap-5">
        <p class="lg:text-6xl text-4xl text-center lg:text-left font-bold">Tu aliado financiero en Ibagué. </p>
        <p class="lg:text-4xl text-xl text-center lg:text-left ">Soluciones y asesoría especializada para tu bienestar</p>
        <p class="lg:text-2xl text-lg text-justify lg:text-left ">Ofrecemos herramientas y servicios que te permitan mejorar tu vida financiera, todo de manera ágil y confiable.</p>
      </div>
    <button onclick="window.location.href = '#mision-vision'" class="bg-yellow-primary mt-10 cursor-pointer self-center text-white px-10 py-2 rounded-[10px] font-poppins lg:text-xl text-md">Conoce más</button>
    </div>
    <img src="/quienes-somos.png" class="lg:h-[550px] absolute lg:relative z-10 lg:block " alt="quienes-somos" />
    <div class="w-[100%] absolute z-20 h-[550px] lg:hidden opacity-70 bg-white"></div>
    </div> 
  </section>
  <MisionVision />
  <Valores />
</section>
