---
import Header from "../components/Header/Header";
import Footer from "../components/Footer/Footer.astro";
import { SEO } from "astro-seo";

---

<!doctype html>
<html lang="en">
	<head>
		<SEO title="Coomultisys" description="Cooperativa en Ibagué especializada en préstamos, asesorías financieras y eliminación de reportes negativos en Datacrédito. Brindamos soluciones confiables para mejorar tu bienestar financiero."/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Coomultisys</title>
	</head>
	<body>
		<Header client:only="react" />
		<slot />
		<Footer />
	</body>
</html>

